*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.Stresobus_main{
    width: 1440px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 10000px;
}


.header_header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.mini_hr{
    height: 40px;
    width: 0px;
    position: relative;
    color: #E2E2E2;
    border: 1px solid #E2E2E2;
    top: 35px;
}

.hr_fir{
    right: 60px;
    
}

.hr_sec{
    right: 240px;
}


.hr_third{
right: 400px;
}


.hr_four{
right: 540px;
}


.hr_five{

}

.num_4{
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 470px;
    top: 32px;
}

.header_a{
    position: relative;
    right: 145px;
    top: 30px;
    margin: 2px;
}

a{
    text-decoration: none;
    color: black;
}

a:focus{
    color: gainsboro;
}

.ddds{
    display: block;
    width: 40px;
height: 30px;
background-color: #4AD295;
color: white;
text-align: center;
line-height: 30px;
right: 150px;
}

.header_p{
    position: relative;
    right: 320px;
    top: 25px;
    margin: 5px;
}

.header_num{
    position: relative;
    right: 580px;
}